#category {
  a {
    text-decoration: none;
    color: black;
    font-size: 9pt;
    line-height: 25pt;
  }

  li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  /* Body */

  #nav {
    width: 100%;
  }

  #nav:after {
    content: '';
    display: block;
    clear: both;
  }
  /*
  .main {
    margin: 1em;
  } */

  .main > li {
    position: relative;
    width: 180px;
    box-sizing: border-box;
    line-height: 20px;
  }

  .main > li a {
    display: block;
    transition: all 0.3s;
  }

  .main > li a:hover {
    background: rgb(0, 0, 0, 0);
    color: #ff8585;
    text-decoration: underline;
  }

  .sub {
    flex: 0 0 1;
    top: 30px;
    margin-left: 0em;
    z-index: 1;
    width: 100%;
    opacity: 0.8;
    font-weight: 700;
    letter-spacing: -1px;
    transition: all ease 3s 0s;
  }

  .superSub {
    /* visibility: hidden; */
    display: none;
    top: 20px;
    margin-left: 0.1em;
    z-index: 1;
    width: 100%;
    opacity: 0.8;
    line-height: 8pt;
    letter-spacing: -1px;
    font-weight: 700;
  }

  .firstList {
    font-size: 13pt;
    font-weight: 700;
    letter-spacing: -2px;
  }

  /* #showBtn {
    background-color: rgb(0, 0, 0, 0);
    border-color: rgb(0, 0, 0, 0);
  } */
}
