#tab4 {
  margin: 50px;

  .innerBox2 {
    font-size: 10pt;
  }

  .innerText2 {
    font-size: 14pt;
    font-weight: 700;
    color: #ff8585;
    padding-top: 16px;
  }

  .selectBox {
    width: 400px;
  }
  p {
    letter-spacing: -1px;
  }
  span {
    letter-spacing: -0.5px;
  }
}
