body,
html {
  font-family: OhouseSans, 'Noto Sans KR', 'Apple SD Gothic Neo', '맑은 고딕',
    'Malgun Gothic', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 996px;
  font-family: 'Helvetica';
  display: block;
  margin: 0 auto;
}

.spacing {
  letter-spacing: -2px;
  word-spacing: -1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li,
a,
button {
  all: unset;
  cursor: pointer;
}
